@model SnapBites.Models.UsuarioViewModel


@{
    ViewData["Title"] = "Feed";
}

@section css {
    <link rel="stylesheet" href="/css/feed.css" />
}

<div class="container-lg img-feed fundo">
    <div class="row row-cols-md-4 row-cols-sm-2">
        <div class="col-sm ">
            <a asp-area="" asp-controller="Feed" asp-action="Publicacao">
                <img class="image p-2" src="../imagens/alema.jpg" alt="Imagem 1">
            </a>
        </div>
        <div class="col-sm">
            <a href="#">
                <img class="image p-2" src="../imagens/comida/comida/1.jpg" alt="Imagem 2">
            </a>
        </div>
        <div class="col-sm">
            <a href="#">
                <img class="image p-2" src="../imagens/comida/comida/2.jpg" alt="Imagem 3">
            </a>
        </div>
        <div class="col-sm">
            <a href="#">
                <img class="image p-2" src="../imagens/comida/comida/3.jpg" alt="Imagem 4">
            </a>
        </div>
    </div>
    <div class="row row-cols-md-4 row-cols-sm-2">
        <div class="col-sm">
            <a href="#">
                <img class="image p-2" src="../imagens/comida/comida/4.jpg" alt="Imagem 5">
            </a>
        </div>
        <div class="col-sm">
            <a href="#">
                <img class="image p-2" src="../imagens/comida/comida/5.jpg" alt="Imagem 6">
            </a>
        </div>
        <div class="col-sm">
            <a href="#">
                <img class="image p-2" src="../imagens/comida/comida/6.jpg" alt="Imagem 7">
            </a>
        </div>
        <div class="col-sm">
            <a href="#">
                <img class="image p-2" src="../imagens/comida/comida/7.jpg" alt="Imagem 8">
            </a>
        </div>
    </div>
    <div class="row row-cols-md-4 row-cols-sm-2">
        <div class="col-sm">
            <a href="#">
                <img class="image p-2" src="../imagens/comida/comida/8.jpg" alt="Imagem 5">
            </a>
        </div>
        <div class="col-sm">
            <a href="#">
                <img class="image p-2" src="../imagens/comida/comida/9.jpg" alt="Imagem 6">
            </a>
        </div>
        <div class="col-sm">
            <a href="#">
                <img class="image p-2" src="../imagens/comida/comida/10.jpg" alt="Imagem 7">
            </a>
        </div>
        <div class="col-sm">
            <a href="#">
                <img class="image p-2" src="../imagens/comida/comida/11.jpg" alt="Imagem 8">
            </a>
        </div>
    </div>
</div>