@model SnapBites.Models.UsuarioViewModel

<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @RenderSection("css", required: false)
    <title>@ViewData["Title"] - SnapBites</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/SnapBites.styles.css" asp-append-version="true" />
    <link href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="icon" type="image/png" href="../imagens/Icon.svg" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
</head>

<body background="../imagens/Plano de fundo desktop.svg">
    <header>
        <nav class="navbar justify-content-center cor1 fixed-top" style="font-family: 'Space Grotesk', sans-serif">
            <div class="container-fluid">
                <a href="Feed.html" class="navbar-brand">
                    <img src="../imagens/Logo Branca.svg" height="65px" width="65px"
                         style="margin-top: -15px;  margin-bottom: -15px;">
                </a>
                <div class="d-flex justify-content-center" style="width: 50%;">
                    <input class="form-control me-2" type="search" placeholder="Pesquisar" aria-label="Search"
                           style="width: 50%;">
                    <button class="btn btn-light" type="submit">
                        <img src="../imagens/Bt-Search.svg" height="25px" width="25px"
                             alt="">
                    </button>
                </div>
                <button class="navbar-toggler btn btn-light " type="submit" data-bs-toggle="offcanvas"
                        data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" style="background-color: #fff;">
                    <img src="../imagens/menu_FILL0_wght400_GRAD0_opsz48.svg" height="25px" width="25px"
                         alt="">
                </button>
                <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar"
                     aria-labelledby="offcanvasNavbarLabel">
                    <div class="offcanvas-header">
                        <div class="container d-flex align-items-center">
                            <a class="me-1" href="Meu_perfil.html">
                                <img src="../imagens/account_circle_FILL0_wght400_GRAD0_opsz48.svg" alt="">
                            </a>
                            <h5 class="offcanvas-title" id="offcanvasNavbarLabel">@Html.DisplayFor(Model => Model.nome)</h5>
                        </div>
                        <div class="">
                            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                        </div>
                    </div>
                    <hr class="mb-1 container justify-content-center " style="width: 95%;">
                    <div class="offcanvas-body">
                        <ul class="navbar-nav justify-content-end flex-grow-1">
                            <form class="d-flex mt-3" role="search">
                                <input class="form-control me-2" type="search" placeholder="Pesquisar" aria-label="Search">
                                <button class="btn btn-outline-success" type="submit">
                                    <img src="../imagens/Bt-Search.svg"
                                         height="25px" width="25px" alt="">
                                </button>
                            </form>
                            <li class="nav-item mt-3">
                                <a asp-area="" asp-controller="Admin" asp-action="Feed" class="nav-link active" aria-current="page" href="#">Pagina Inicial</a>
                            </li>
                            <li class="nav-item">
                                <a asp-area="" asp-controller="Admin" asp-action="Publicar" class="nav-link">Publicar</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
    </header>

    @RenderBody()
    <footer>
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <p>&copy; 2023 SnapBites. Todos os direitos reservados.</p>
        @await RenderSectionAsync("Scripts", required: false)
    </footer>
</body>
</html>