@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>

@*<partial name="nome da partial view"> como chamar a partial view dentro do arquivo*@