@{
    ViewData["Title"] = "Feed";
}

@section css {
    <link rel="stylesheet" href="/css/feed.css" />
}

<div class="container-lg img-feed">
    <div class="row row-cols-md-4 row-cols-sm-2">
        <div class="col-sm ">
            <a href="Publicacao.html">
                <img class="image p-2" src="../imagens/alema.jpg" alt="Imagem 1">
            </a>
        </div>
        <div class="col-sm">
            <a href="#">
                <img class="image p-2" src="../imagens/comida/comida/1.jpg" alt="Imagem 2">
            </a>
        </div>
        <div class="col-sm">
            <a href="#">
                <img class="image p-2" src="../imagens/comida/comida/2.jpg" alt="Imagem 3">
            </a>
        </div>
        <div class="col-sm">
            <a href="#">
                <img class="image p-2" src="../imagens/comida/comida/3.jpg" alt="Imagem 4">
            </a>
        </div>
    </div>
    <div class="row row-cols-md-4 row-cols-sm-2">
        <div class="col-sm">
            <a href="#">
                <img class="image p-2" src="../imagens/comida/comida/4.jpg" alt="Imagem 5">
            </a>
        </div>
        <div class="col-sm">
            <a href="#">
                <img class="image p-2" src="../imagens/comida/comida/5.jpg" alt="Imagem 6">
            </a>
        </div>
        <div class="col-sm">
            <a href="#">
                <img class="image p-2" src="../imagens/comida/comida/6.jpg" alt="Imagem 7">
            </a>
        </div>
        <div class="col-sm">
            <a href="#">
                <img class="image p-2" src="../imagens/comida/comida/7.jpg" alt="Imagem 8">
            </a>
        </div>
    </div>
    <div class="row row-cols-md-4 row-cols-sm-2">
        <div class="col-sm">
            <a href="#">
                <img class="image p-2" src="../imagens/comida/comida/8.jpg" alt="Imagem 5">
            </a>
        </div>
        <div class="col-sm">
            <a href="#">
                <img class="image p-2" src="../imagens/comida/comida/9.jpg" alt="Imagem 6">
            </a>
        </div>
        <div class="col-sm">
            <a href="#">
                <img class="image p-2" src="../imagens/comida/comida/10.jpg" alt="Imagem 7">
            </a>
        </div>
        <div class="col-sm">
            <a href="#">
                <img class="image p-2" src="../imagens/comida/comida/11.jpg" alt="Imagem 8">
            </a>
        </div>
    </div>
    <nav class="paginas mt-5 mb-5" aria-label="Page navigation example">
        <ul class="pagination pagination-md justify-content-center">
            <li class="page-item">
                <a class="page-link" aria-label="Previous" style="color:black">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <li class="page-item active"><a class="page-link" href="Feed.html" style="color:black">1</a></li>
            <li class="page-item"><a class="page-link" href="Feed2.html" style="color:black">2</a></li>
            <li class="page-item"><a class="page-link" href="Feed3.html" style="color:black">3</a></li>
            <li class="page-item">
                <a class="page-link" href="#" aria-label="Next" style="color:black">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
</div>